<%- include('./fragments/header.ejs') %>
    <main>
        <h2>Strona główna</h2>

        <p>
            <img src="/images/tree.jpg">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid soluta beatae,
            molestiae unde possimus neque delectus ipsa. Ducimus architecto nam inventore,
            quam esse numquam voluptate hic. Iure cum illum excepturi.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid soluta beatae,
            molestiae unde possimus neque delectus ipsa. Ducimus architecto nam inventore,
            quam esse numquam voluptate hic. Iure cum illum excepturi.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid soluta beatae,
            molestiae unde possimus neque delectus ipsa. Ducimus architecto nam inventore,
            quam esse numquam voluptate hic. Iure cum illum excepturi.
        </p>
    </main>
    <%- include('./fragments/footer.ejs') %>