<%- include('./fragments/header.ejs') %>
<main>
    <h2>Nowy lektor</h2>
    <form class="form edit" onsubmit="return validateForm();">

        <label for="firstName">Imię:<sup>*</sup></label>
        <input type="text" name="firstName" id="firstName">
        <span id="errorFirstName" class="errors-text"></span>

        <label for="lastName">Nazwisko:<sup>*</sup></label>
        <input type="text" name="lastName" id="lastName">
        <span id="errorLastName" class="errors-text"></span>

        <label for="language">Język:<sup>*</sup></label>
        <select name="language" id="language">
            <option value="">--Wybierz język--</option>
            <option>angielski</option>
            <option>niemiecki</option>
        </select>
        <span id="errorLanguage" class="errors-text"></span>

        <label for="education">Wykształcenie</label>
        <input type="text" name="education" id="education">

        <div class="form-buttons">
            <p id="errorsSummary" class="errors-text"></p>
            <input type="submit" value="Dodaj" class="form-button-submit" />
            <a href="teacher-list.html" class="form-button-cancel">Anuluj</a>
        </div>
    </form>


</main>
<%- include('./fragments/footer.ejs') %>