<%- include('./fragments/header.ejs') %>
    <main>
        <h2>Dane lektora</h2>
        <form class="form">

            <label for="firstName">Imię:<sup>*</sup></label>
            <input type="text" name="firstName" id="firstName" value="Jan" disabled>

            <label for="secondName">Nazwisko:<sup>*</sup></label>
            <input type="text" name="secondName" id="secondName" value="Kowalski" disabled>

            <label for="email">Język:<sup>*</sup></label>
            <input type="text" name="language" id="language" value="angielski">

            <label for="education">Wykształcenie:<sup>*</sup></label>
            <input type="text" name="education" id="education" value="mgr UJ" disabled>

            <div class="form-buttons">
                <!-- <input type="submit" value="Edytuj" class="form-button-submit" /> -->
                <a href="teacher-form-edit.html" class="form-button-cancel">Edytuj</a>
            </div>
        </form>

    </main>
    <%- include('./fragments/footer.ejs') %>