<%- include('../../fragments/header.ejs') %>
<main>
    <h2>Strona główna</h2>
    <form class="form">

        <label for="student">Uczeń:<sup>*</sup></label>
        <select id="student">
            <option>--Wybierz grupę--</option>
            <option selected>Jan Kowalski</option>
        </select>


        <label for="group">Grupa:<sup>*</sup></label>
        <select id="group">
            <option>--Wybierz grupę--</option>
            <option selected>A1-A</option>
        </select>

        <label for="date-from">Data przypisania:<sup>*</sup></label>
        <input type="date" name="date-from" id="date-from" value="2020-10-04">

        <label for="comments">Uwagi:<sup>*</sup></label>
        <input type="text" name="comments" id="comments" value="2000">

        <div class="form-buttons">
            <input type="submit" value="Aktualizuj" class="form-button-submit" />
            <a href="enrolment-list.html" class="form-button-cancel">Anuluj</a>
        </div>
    </form>

</main>
<%- include('../../fragments/footer.ejs') %>